# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/components/layout/index.js
src/components/layout/components/Header/index.js
src/components/layout/DefaultLayout/index.js
src/components/layout/DefaultLayout/Sidebar/index.js
src/components/layout/HeaderOnly/index.js
src/components/Layouts/index.js
src/components/Layouts/DefaultLayout/Sidebar/Sidebar.module.scss
