.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border-radius: 4px;
    font-weight: 700;
    min-width: 100px;
    padding: 8px 16px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid transparent;
    user-select: none;

    + .wrapper {
        margin-left: 16px;
    }
    //disabled
    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon + .title,
title + .icon {
    margin-left: 8px;
}

//button type
.rounded {
    border-radius: 999px;
    font-size: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(255, 255, 255, 1);
    }
}
.primary {
    background-color: var(--primary);
    color: #fff;
    border-color: var(--primary);
    &:hover {
        border-color: var(--primary);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}
.outline {
    color: var(--primary);
    border-color: currentColor;

    &:hover {
        border-color: currentColor;
        background: rgba(254, 44, 85, 0.08);
    }
}
.outline_black {
    color: #000;
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.12);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

//button size
.small {
    min-width: 96px;
    padding: 1px 15px;
}
.large {
    min-width: 140px;
    padding: 14px 15px;
}
.text {
    &:hover {
        text-decoration: underline;
    }
}
