.wrapper {
    display: flex;
    align-items: center;
    padding: 9px 16px;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 12px;
}

.info {
    flex: 1;
}
.name {
    font-size: 1.6rem;
    font-weight: 600;
}
.username {
    color: rgb(129, 130, 136);
}
.checked {
    color: rgb(32, 213, 236);
    margin-left: 4px;
    font-size: 1.6rem;
}
