@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap');
:root {
    --primary: rgba(254, 44, 85, 1);
    --black: #000;
    //default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1488px;
    --text-color: #333;
}
html {
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}
button,
input,
[tabindex] {
    outline: none;
    border: none;
}
a[href] {
    color: var(--text-color);
    text-decoration: none;
}
